@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

:root {
  --color: #58f955;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 8px;

  /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪵</text></svg>")
      16 0,
    auto; */
}

body {
}
.App {
  padding: 8em 14em;
  display: flex;
  flex-direction: column;
  background: url("./../public/marble.jpg");
  background-size: cover;
  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

button {
  height: 42px;
  border-radius: 48px;
  font-size: 3em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 1.5em;
}

.info-button {
  font-family: Arapey, Times, serif;
  font-style: italic;
  background-color: var(--color);
  border: none;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50em;
  background-color: white;
  border-radius: 48px;
  position: fixed;
  margin-top: 50px;
}

.invisible {
  display: none;
}

.visible {
  display: "";
}

#home-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10em;
}

#home-link a {
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  font-size: 2em;
}

aside div {
  position: fixed;
  left: -8em;
  top: 8.2em;

  font-family: inherit;
  font-size: 4.5em;
  transform: rotate(-90deg);
}

.info p {
  font-family: Arapey, Times, serif;
  font-size: 2em;
  padding: 0.5em 2em;
}

.big-input-div {
  z-index: 1;
  height: 12em;
  max-width: 120em;
  box-sizing: border-box;
  border-radius: 100px;
  border: 4px solid var(--color);
  padding: 0 5em;
  font-family: Arapey, Times, serif;
  display: flex;
  background-color: white;
}

form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.big-input-div span {
  color: grey;
  flex-grow: 0;
  font-size: 6em;
  margin-right: 0.3em;
}

.big-input-div input {
  color: black;
  flex-grow: 1;
  font-family: inherit;
  border: none;
  font-size: 6em;
  background-color: transparent;
}

.range-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 15em;
}

.range-div span {
  font-size: 2em;
  font-family: Roboto, Arial, sans-serif;
  color: #000000;
  margin-left: 0.5em;
}

#label-no-margin {
  margin: 0;
}

input:focus {
  outline: none;
}

.fixed-position {
  position: fixed;
  top: 8em;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  /* quick fix because section was hidden behind background image after i changed it from html element to body element */
}

.box-text {
  z-index: -1;
  font-family: inherit;
  padding: 4em;
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 100em;
  p {
    font-size: 4em;
    font-family: Arapey, Times, serif;
    margin: 0;
  }
}

.transparent {
  color: transparent;
  box-shadow: none;
}

.opaque {
  color: black;
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.25);
}

footer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer button {
  position: relative;
  font-family: inherit;
  font-style: italic;
}

.rotate15 {
  transform: rotate(13deg);
}

.ask-button {
  color: var(--color);
  background-color: white;
  border: 1px solid var(--color);
  filter: none;
}

.feedback-button {
  color: var(--color);
  margin-bottom: 1.5em;
  background-color: white;
  border: 1px solid var(--color);
}

.imprint-button {
  background-color: var(--color);
  border: none;
}

.fire-cursor {
  /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>")
      16 0,
    auto; */
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #58f955;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #58f955;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #f9f9f9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #58f955;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #58f955;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #58f955;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #f9f9f9;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #58f955;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #58f955;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #58f955;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #f9f9f9;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #58f955;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #58f955;
}
